.wrapper {
  padding: 15px;
}

li {
  list-style: none;
  text-transform: capitalize;
}

li:before {
  content: 'x ';
  cursor: pointer;
  color: red;
  text-transform: lowercase;
  margin-bottom: 0px;
  padding: 1px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

li:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3.6px;
}